*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerMain{
   max-width: 1280px;
}
header{
  background-color: #2296a1;
  display: flex;
  width: 100%;
  height: 128px;
}
nav{
  display: flex;
  justify-content: center;
  padding: 4%;
}
.blockText{
    margin: 1%;
}
.captionText{
    text-align: center;
    font-family: Euclid Circular A;
    font-size: 20pt;
    text-transform: uppercase;
}
.primer{
  display: none;
}
.whiteText{
    color: white;
    text-align: center;
    font-family: Euclid Circular A;
    font-size: 20pt;
    text-transform: uppercase;
} 
.blockPushk{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 366px;
}
#checkbox{
  display: none;
}
.labelLine{
  display: none;
  cursor: pointer;
}
.line{
  display: block;
  position: relative;
  color: #2296a1;
  padding: 0;
}
.blockMenu{
  display: flex;
  background-color: white;
}
.blockMenu li{
  padding: 5px 15px;
  list-style:none;
}




.blockMounth{
  display: flex;
  justify-content: center;
}


main{
  max-width: 1280px;
}
.persons{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.blockSlider{
  margin: 0 auto;
  position:relative;
  height: 426px;
  width: 940px;
  overflow: hidden;
}
 .slide {
   max-width: 100%;
    transition: 2s ease;
    position: relative;
    left: 0;
    display: flex;
 }


 
 .blockProgram{
   display: block;
   justify-content: center;
   max-width: 1280px;
   margin: 0 auto;
 }
.blockPushk img{
   margin-bottom: 0;
   max-width: 366px;
}
.date{
  text-align: center;
 }
.dateImage{
  display: flex;
  padding:0 4%;
}
.program{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
} 
.aboutSpect{
  color:black;
  font-family: Euclid Circular A;
  font-size: 12pt;
  text-transform: uppercase;
  text-align: justify;
 }



.labelLine::before,
.labelLine::after{
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.labelLine::before{
  top: 7px;
}
.labelLine::after{
  top: -7px;
}
.btn1, .btn2 {
  background-color: white;
}
.arrow{
  padding: 1% 0;
  display: flex;
  justify-content:space-between;
}



.faces{
  display: block;
  margin: 0 auto;
}
.border{
  width: 1280px;
  height: 10px;
  background-color: #2296a1;
}

.textHistory{
  font-family: Euclid Circular A;
  font-size: 20pt;
  text-align: justify;
  padding: 0 4% 0 0;
}
.textHistory2{
  font-family: Euclid Circular A;
  font-size: 20pt;
  text-align: justify;
  padding: 4% 4% ;
}

a{
   text-decoration: none;
 }



.blockMenu a{
  color: black;
}
.blockMenu a:hover{
  color: #2296a1;
}


 .theaterImgOne{
  padding:0 4% ;
 }
 .theaterImgTwo{
  padding: 4% 4% 4% 0;
 }
.mapsText{
  padding: 4% ;
  color:#2296a1;
  font-family: Euclid Circular A;
  font-size: 31pt;
  text-transform: uppercase;
  text-align: center;
}
.history{
  display: flex;
}
 .maps{
  padding: 0 20% 4%;
 }
 .slide {
    width: 25%;
    transition: all 0.6s ease;
 }
 .lineProgram{
   margin: 0;
   padding: 3%;
 }
 .number{
   color:#2296a1;
    font-family: Euclid Circular A;
    font-size: 60pt;
    text-transform: uppercase;
 }
 .mounth{
   color:#2296a1;
    font-family: Euclid Circular A;
    font-size: 31pt;
    text-transform: uppercase;
    cursor: pointer;
    padding:0 5%;

 }
 .week{
   color:black;
    font-family: Euclid Circular A;
    font-size: 14.5pt;
    text-transform: uppercase;
 }


 .image{
   padding: 2% 3%;
 }
 .nameSpect{
  color:#2296a1;
  font-family: Euclid Circular A;
  font-size: 31pt;
  text-transform: uppercase;
  padding: 2% 0;
 }

 
.footer{
height: 200px;
background-color: #2296a1;
padding-top:7%;
}
.infoOne{
  padding: 1% 4% 0 ;
  font-family: Euclid Circular A;
  font-size: 18pt;
  text-transform: uppercase;
}
.info{
  padding: 0 4%;
  font-family: Euclid Circular A;
  font-size: 18pt;
  text-transform: uppercase;
}
.halls img{
  padding: 0 4%;
}
.theaterImgTwo{
  max-width: 807px;
}
.bolhsoiZal{
  max-width: 1166px;
}
.zvezdaZal{
  max-width: 1164px;
}
.malZal{
  max-width: 1166px;
}
.foye{
  max-width: 1166px;
}


.status{
  font-family: Euclid Circular A;
  font-size: 18pt;
  text-transform: uppercase;
}
.actorsText{
  padding: 1% 4% 0 0;
  font-family: Euclid Circular A;
  font-size: 18pt;
  text-align: justify;
}

button{
  border: none; 
  outline: none;
  background-color: #2296a1;
  color: #ffff;
  font-family: Euclid Circular A;
  font-size: 12pt;
  padding: 1%;
  cursor: pointer;
}

/* body{
  min-width: 320px;
} */